In [1]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [2]:
add(2)

2 if you add one 3

3

In [3]:
add(9999)

9999 if you add one 10000

10000

In [4]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)

In [5]:
# Call the function add()

add(1)

1 if you add one 2

2

In [6]:
# Call the function add()

add(2)

2 if you add one 3

3

In [7]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)

In [8]:
Mult(39,92)

3588

In [9]:
Mult(2,5)

10

In [10]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [11]:
# Use mult() multiply two different type values together

Mult(2, "bonjour ")

'bonjour bonjour '

In [12]:
# Function Definition

def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [13]:
square(6)

6 if you square + 1 37

37

In [14]:
# Initializes Global variable  

x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [15]:
# Directly enter a number as parameter

square(2)

2 if you square + 1 5

5

In [19]:
# Define functions, one with return value None and other without return value

def MJ():
    print('Michael Jackson')

In [20]:
def MJ1():
    print('Michael Jackson')
    return(None)

In [21]:
# See the output

MJ()

Michael Jackson

In [22]:
# See the output

MJ1()

Michael Jackson

In [23]:
# See what functions returns are

print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [24]:
# Define the function for combining strings

def con(a, b):
    return(a + b)

In [25]:
con('bonjour ','hi')

'bonjour hi'

In [26]:
# Test on the con() function

con("This ", "is")

'This is'

In [27]:
# a and b calculation block1

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [28]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [29]:
# Make a Function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [30]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [31]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [33]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [34]:
# Use sum() to add every element in a list or tuple together

sum(album_ratings)

70.0

In [35]:
# Show the length of the list or tuple

len(album_ratings)

8

In [36]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [38]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)

In [39]:
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [40]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [41]:
# Test the value with default value and with input

isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [42]:
# Example of global variable

artist = "Michael Jackson"
def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [43]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [44]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [45]:
# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0
My favourite band is AC/DC

In [46]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [48]:

def div(a,b):
    c = a/b
    return (c)

In [49]:
div(4,2)

2.0

In [50]:
def con(a, b):
    return(a + b)

In [51]:
con(1,2)

3

In [52]:
con('hello','bonjour')

'hellobonjour'

In [53]:
list1 = ['1', 1, 'the man', "abc"]
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 

con(list1 ,album_ratings)

['1', 1, 'the man', 'abc', 10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [54]:
def add(x):
    return(x+x)
    
add(1)

2

In [57]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
sorted(album_ratings)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [58]:
def add(a,b):
    return(a+b)

In [59]:
add(1,2)

3